.banner{
    background-image: url("./Images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    object-fit: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

    
}



 .banner >h1{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-15%,-20%);
}

.banner > p{
    font: 300 1.4vmax "Lucida Sans";
}

.banner > a {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
}


.banner > a >button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}  



 .homeHeading{

    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid  rgba(21, 21, 21, 0.5);
    width: 15vmax;
    padding: 1vmax;
    margin: 4vmax auto;
    
}


.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 45, 45);
    margin: 2vmax;
    transition:all 0.5s;
    padding-bottom: 0.5vmax;
     background: #f1f1f1;
    
}

.productCard>img{
    width: 14vmax;
}

.productCard >div{
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.productCardSpan {

    margin: 0.5vmax;
    font: 700 0.7vmax "Roboto" ;
}

.productCard >p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard >span{
    margin: 0.5vmax ;
    color: tomato;
    font-family: "Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
    font-size: 1vmax;
}

.productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15,0.26);
    transform: translateY(-1vmax);
}

.imgStyle{
    height: 220px ;
    width: 270px ;
    
}





@media screen and (max-width:600){

    
    

    .myclass{
        margin-top:135rem ;
        width: 100%;
        height: 1000px;
        }

    .productCard >p {
        font-size: 1.7vmax;
    }

    .productCard >div{
        margin: 0vmax;
        display: block;
    }

    .productCard >span{
        font-size: 1.5vmax;
    }

    .productCard >div>span{
       margin: 0 0.5vmax;
       font:300 1vmax "Roboto"
    }

    .container{
        margin: 1vmax auto;
       
    }

    .imgStyle{
        height: 100px ;
        width: 180px ;
        
    }
}




.banner-style{
    position:absolute;
    top: 40%;
    left:5%;
    transform: translate(15%,-50%);

}

.banner-style .btn{
   
    margin:2rem auto;
    background-color:red;
    padding:10px 20px ;
    color:white;
    font-size: 16px;

}

@media screen and (max-width:500){

    .banner-style h1{
        display: none;
    }
 

}








